<div class="wrapper">
  <header class="header">
    <div class="container"><a href="../../../index.html" title="Tên webiste" class="header__logo"><img src="../../../assets/images/logo.png" alt="Logo" width="318" height="64"></a>
      <div class="header__info"> <span>nguyenphutrong@gmail.com </span><a href="#">Thoát</a></div>
    </div>
  </header>
  <!--/.header-->

  <div class="schedule">
    <div class="schedule__tabs"><a routerLink="/pending-order" class="schedule__tab">Lệnh chờ</a><a routerLink="/history-pending-order" class="schedule__tab">Lịch sử đặt lệnh</a><a routerLink="/transaction" class="schedule__tab schedule__tab--selected">Lịch sử giao dịch</a></div>
    <div class="schedule__transaction">
      <div class="order__item order__item--buy">
        <div class="order__row">
          <div class="order__title">TRX/USDT</div>
          <div class="order__date">2021-03-17 15:35:52</div>
        </div>
        <div class="order__row">
          <div class="order__market">Mua</div>
        </div>
        <div class="order__row">
          <div class="order__detail">Giá (USDT)</div>
          <div class="order__number">0,05378</div>
        </div>
        <div class="order__row">
          <div class="order__detail">Đã khớp lệnh</div>
          <div class="order__number">557,80</div>
        </div>
        <div class="order__row">
          <div class="order__detail">Phí (TRX)</div>
          <div class="order__number">0.5578</div>
        </div>
        <div class="order__row">
          <div class="order__detail">Tổng (USDT)</div>
          <div class="order__number">29,998484</div>
        </div>
      </div>
      <div class="order__item order__item--sell">
        <div class="order__row">
          <div class="order__title">TRX/USDT</div>
          <div class="order__date">2021-03-17 15:35:52</div>
        </div>
        <div class="order__row">
          <div class="order__market">Bán</div>
        </div>
        <div class="order__row">
          <div class="order__detail">Giá (USDT)</div>
          <div class="order__number">0,05378</div>
        </div>
        <div class="order__row">
          <div class="order__detail">Đã khớp lệnh</div>
          <div class="order__number">557,80</div>
        </div>
        <div class="order__row">
          <div class="order__detail">Phí (TRX)</div>
          <div class="order__number">0.5578</div>
        </div>
        <div class="order__row">
          <div class="order__detail">Tổng (USDT)</div>
          <div class="order__number">29,998484</div>
        </div>
      </div>
      <div class="order__item order__item--buy">
        <div class="order__row">
          <div class="order__title">TRX/USDT</div>
          <div class="order__date">2021-03-17 15:35:52</div>
        </div>
        <div class="order__row">
          <div class="order__market">Mua</div>
        </div>
        <div class="order__row">
          <div class="order__detail">Giá (USDT)</div>
          <div class="order__number">0,05378</div>
        </div>
        <div class="order__row">
          <div class="order__detail">Đã khớp lệnh</div>
          <div class="order__number">557,80</div>
        </div>
        <div class="order__row">
          <div class="order__detail">Phí (TRX)</div>
          <div class="order__number">0.5578</div>
        </div>
        <div class="order__row">
          <div class="order__detail">Tổng (USDT)</div>
          <div class="order__number">29,998484</div>
        </div>
      </div>
      <div class="order__item order__item--sell">
        <div class="order__row">
          <div class="order__title">TRX/USDT</div>
          <div class="order__date">2021-03-17 15:35:52</div>
        </div>
        <div class="order__row">
          <div class="order__market">Bán</div>
        </div>
        <div class="order__row">
          <div class="order__detail">Giá (USDT)</div>
          <div class="order__number">0,05378</div>
        </div>
        <div class="order__row">
          <div class="order__detail">Đã khớp lệnh</div>
          <div class="order__number">557,80</div>
        </div>
        <div class="order__row">
          <div class="order__detail">Phí (TRX)</div>
          <div class="order__number">0.5578</div>
        </div>
        <div class="order__row">
          <div class="order__detail">Tổng (USDT)</div>
          <div class="order__number">29,998484</div>
        </div>
      </div>
      <div class="order__item order__item--sell">
        <div class="order__row">
          <div class="order__title">TRX/USDT</div>
          <div class="order__date">2021-03-17 15:35:52</div>
        </div>
        <div class="order__row">
          <div class="order__market">Bán</div>
        </div>
        <div class="order__row">
          <div class="order__detail">Giá (USDT)</div>
          <div class="order__number">0,05378</div>
        </div>
        <div class="order__row">
          <div class="order__detail">Đã khớp lệnh</div>
          <div class="order__number">557,80</div>
        </div>
        <div class="order__row">
          <div class="order__detail">Phí (TRX)</div>
          <div class="order__number">0.5578</div>
        </div>
        <div class="order__row">
          <div class="order__detail">Tổng (USDT)</div>
          <div class="order__number">29,998484</div>
        </div>
      </div>
    </div>
    <div class="schedule__more"> <a href="#">Tải thêm</a></div>
    <div class="schedule__more">Không có thêm dữ liệu</div>
    <div class="schedule__empty"> <span class="material-icons">find_in_page</span><span>Không có lệnh</span></div>
  </div>
  <!--/.schedule-->


</div>
