<footer class="site-footer">
  <div class="container">
    <nav class="navbar">
      <div class="footer-navbar-sticky">
        <ul class="navbar-nav navbar">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">
              <i class="fas fa-home"></i>
              <label>Trang chủ</label>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/deal">
              <i class="fas fa-history"></i>
              <label>Giao dịch</label>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/wallet">
              <i class="fas fa-wallet"></i>
              <label>Ví</label>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</footer>
