<div class="wrapper">
  <header class="header">
    <div class="container"><a href="../../../index.html" title="Tên webiste" class="header__logo"><img src="../../../assets/images/logo.png" alt="Logo" width="318" height="64"></a></div>
  </header>
  <!--/.header-->
  <section class="form">
    <div class="container">
      <form id="login" action="#">
        <div class="form__header">Đăng nhập</div>
        <div class="form__group">
          <label for="email" class="form__label">Email</label>
          <input [(ngModel)]="email" id="email" type="email" name="email" required class="form__control">
        </div>
        <div class="form__group">
          <label for="password" class="form__label">Mật khẩu</label>
          <input [(ngModel)]="password" id="password" type="password" name="password" required class="form__control">
        </div>
        <div class="form__handle">
          <button id="login-button" (click)="login()" type="submit" class="form__button">Đăng nhập</button>
        </div>
        <div class="form__info"> <a href="#" title="Quên mật khẩu?" class="form__link">Quên mật khẩu?</a><a href="/register" title="Đăng ký" class="form__link">Đăng ký</a></div>
      </form>
    </div>
  </section>
  <!--/.form-->
</div>

