<div class="site-wrapper">
  <router-outlet></router-outlet>
  <footer class="site-footer">
    <div class="container">
      <nav class="navbar">
        <div class="footer-navbar-sticky">
          <ul class="navbar-nav navbar">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/home">
                <i class="fas fa-home"></i>
                <label>Trang chủ</label>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/deal">
                <i class="fas fa-history"></i>
                <label>Giao dịch</label>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/wallet">
                <i class="fas fa-wallet"></i>
                <label>Ví</label>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </footer>
</div>

