<div class="wrapper">
  <header class="header">
    <div class="container"><a href="../../../index.html" title="Tên webiste" class="header__logo"><img src="../../../assets/images/logo.png" alt="Logo" width="318" height="64"></a>
      <div class="header__info"> <span>nguyenphutrong@gmail.com </span><a href="#">Thoát</a></div>
    </div>
  </header>
  <!--/.header-->

  <div class="schedule">
    <div class="schedule__tabs"><a routerLink="/pending-order" class="schedule__tab">Lệnh chờ</a><a routerLink="/history-pending-order" class="schedule__tab schedule__tab--selected">Lịch sử đặt lệnh</a><a routerLink="/transaction" class="schedule__tab">Lịch sử giao dịch</a></div>
    <div class="schedule__order">
      <div class="order__item order__item--buy">
        <div class="order__row">
          <div class="order__title">TRX/USDT</div>
          <div class="order__date">2021-03-17 15:36:26</div>
        </div>
        <div class="order__row">
          <div class="order__market">Thị trường mua</div>
          <div class="order__status">Trạng thái</div>
        </div>
        <div class="order__row">
          <div class="order__detail">Số lượng</div>
          <div class="order__number">557,8/<span>557,8</span></div>
        </div>
        <div class="order__row">
          <div class="order__detail">Giá</div>
          <div class="order__number">Thị trường</div>
        </div>
      </div>
      <div class="order__item order__item--sell">
        <div class="order__row">
          <div class="order__title">TRX/USDT</div>
          <div class="order__date">2021-03-17 15:26:13</div>
        </div>
        <div class="order__row">
          <div class="order__market">Thị trường bán</div>
          <div class="order__status">Trạng thái</div>
        </div>
        <div class="order__row">
          <div class="order__detail">Số lượng</div>
          <div class="order__number">185,8/<span>185,8</span></div>
        </div>
        <div class="order__row">
          <div class="order__detail">Giá</div>
          <div class="order__number">Thị trường</div>
        </div>
      </div>
      <div class="order__item order__item--buy">
        <div class="order__row">
          <div class="order__title">TRX/USDT</div>
          <div class="order__date">2021-03-17 15:32:45</div>
        </div>
        <div class="order__row">
          <div class="order__market">Thị trường mua</div>
          <div class="order__status">Trạng thái</div>
        </div>
        <div class="order__row">
          <div class="order__detail">Số lượng</div>
          <div class="order__number">371,8/<span>371,8</span></div>
        </div>
        <div class="order__row">
          <div class="order__detail">Giá</div>
          <div class="order__number">Thị trường</div>
        </div>
      </div>
      <div class="order__item order__item--sell">
        <div class="order__row">
          <div class="order__title">TRX/USDT</div>
          <div class="order__date">2021-03-17 15:32:45</div>
        </div>
        <div class="order__row">
          <div class="order__market">Thị trường bán</div>
          <div class="order__status">Trạng thái</div>
        </div>
        <div class="order__row">
          <div class="order__detail">Số lượng</div>
          <div class="order__number">34.00000,8/<span>34.00000,8</span></div>
        </div>
        <div class="order__row">
          <div class="order__detail">Giá</div>
          <div class="order__number">0,05123</div>
        </div>
      </div>
    </div>
    <div class="schedule__more"> <a href="#">Tải thêm</a></div>
    <div class="schedule__more">Không có thêm dữ liệu</div>
    <div class="schedule__empty"> <span class="material-icons">find_in_page</span><span>Không có lệnh</span></div>
  </div>
  <!--/.schedule-->


</div>
