<div class="site-wrapper">
  <header class="site-header">
    <div class="container">
      <div class="row">
        <div class="col col-3 d-flex align-items-center justify-content-start">
          <a href="/withdraw" class="btn-header btn-back">
            <i class="fas fa-arrow-left"></i>
          </a>
        </div>
        <div class="col col-9">
        </div>
      </div>
    </div>
  </header>

  <main class="main-content">
    <div class="container withdraw-history ">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" id="withdrawTabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="recharge-tab" data-toggle="tab" href="#recharge" role="tab"
             aria-controls="recharge" aria-selected="true">Nạp tiền</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="withdraw-tab" data-toggle="tab" href="#withdraw" role="tab" aria-controls="withdraw"
             aria-selected="false">Rút</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="allocation-tab" data-toggle="tab" href="#allocation" role="tab"
             aria-controls="allocation" aria-selected="false">Phân bổ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register"
             aria-selected="false">Đăng ký</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="withdrawMonney-tab" data-toggle="tab" href="#withdrawMonney" role="tab"
             aria-controls="withdrawMonney" aria-selected="false">Rút tiền</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="recharge" role="tabpanel" aria-labelledby="recharge-tab">
          <div class="coin-price-table">
            <div class="table-content">
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    14.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    18.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    8.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    28.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    8.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    13.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    8.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    8.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    8.000
                  </div>
                  <div class="transaction-status failed">
                    <i class="fas fa-exclamation-triangle"></i> Failed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    8.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    8.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    8.000
                  </div>
                  <div class="transaction-status failed">
                    <i class="fas fa-exclamation-triangle"></i> Failed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
            </div>
          </div>
          <!-- End content 1 -->
        </div>


        <div class="tab-pane" id="withdraw" role="tabpanel" aria-labelledby="withdraw-tab">
          <div class="coin-price-table">
            <div class="table-content">
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    14.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    18.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    8.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    28.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    8.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    13.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    8.000
                  </div>
                  <div class="transaction-status failed">
                    <i class="fas fa-exclamation-triangle"></i> Failed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
            </div>
          </div>
          <!-- End content 1 -->
        </div>


        <div class="tab-pane" id="allocation" role="tabpanel" aria-labelledby="allocation-tab">
          <div class="coin-price-table">
            <div class="table-content">
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    14.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    18.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    8.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    13.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    8.000
                  </div>
                  <div class="transaction-status failed">
                    <i class="fas fa-exclamation-triangle"></i> Failed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
            </div>
          </div>
          <!-- End content 1 -->
        </div>


        <div class="tab-pane" id="register" role="tabpanel" aria-labelledby="register-tab">
          <div class="coin-price-table">
            <div class="table-content">
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    14.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    8.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    13.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    8.000
                  </div>
                  <div class="transaction-status failed">
                    <i class="fas fa-exclamation-triangle"></i> Failed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
            </div>
          </div>
          <!-- End content 1 -->
        </div>


        <div class="tab-pane" id="withdrawMonney" role="tabpanel" aria-labelledby="withdrawMonney-tab">
          <div class="coin-price-table">
            <div class="table-content">
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    14.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    5.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    23.000
                  </div>
                  <div class="transaction-status">
                    <i class="fas fa-circle"></i> Completed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
              <div class="withdraw-coin-row d-flex align-items-start">
                <div class="left-content">
                  <div class="coin-name">
                    USDT
                  </div> <!-- end coin name -->
                  <div class="transaction-time">
                    <span class="date">2021-03-20</span> <span class="time">17:14:34</span>
                  </div>
                </div>
                <div class="right-content">
                  <div class="total-withdraw">
                    8.000
                  </div>
                  <div class="transaction-status failed">
                    <i class="fas fa-exclamation-triangle"></i> Failed
                  </div>
                </div> <!-- Withdraw history -->
              </div> <!-- End coin row -->
            </div>
          </div>
          <!-- End content 1 -->
        </div>
      </div>
    </div>
  </main>
</div>
