<div class="wrapper">
  <header class="header">
    <div class="container"><a href="../../../index.html" title="Tên webiste" class="header__logo"><img src="../../../assets/images/logo.png" alt="Logo" width="318" height="64"></a></div>
  </header>
  <!--/.header-->

  <section class="form">
    <div class="container">
      <form id="register" action="#">
        <div class="form__header">Đăng ký</div>
        <div class="form__group">
          <label for="email" class="form__label">Email</label>
          <input id="email" [(ngModel)]="email" type="email" name="email" required class="form__control">
        </div>
        <div class="form__group">
          <label for="password" class="form__label">Mật khẩu</label>
          <input id="password" [(ngModel)]="password" type="password" name="password" required class="form__control">
        </div>
        <div class="form__group">
          <label for="repassword" class="form__label">Xác nhận mật khẩu</label>
          <input id="repassword" [(ngModel)]="repassword" type="password" name="repassword" required class="form__control">
        </div>
        <div class="form__group">
          <input id="terms" type="checkbox" value="1" name="terms" class="form__term">
          <label for="terms" class="form__label"><span class="form__checkbox"></span>Tôi đồng ý với điều khoản của <a href="#" target="blank">công ty</a></label>
        </div>
        <div class="form__handle">
          <button id="register-button" (click)="SingUp()" type="submit" class="form__button">Đăng ký</button>
        </div>
        <div class="form__info"> <a href="#" title="Quên mật khẩu?" class="form__link">Quên mật khẩu?</a>
          <div class="form__guide">

            Đã có tài khoản? <a routerLink="/login" title="Đăng ký" class="form__link">Đăng nhập</a>
          </div>
        </div>
      </form>
    </div>
  </section>
  <!--/.form-->


</div>
