
  <header class="site-header header-border">
    <div class="container">
      <div class="row">
        <div class="col col-9">
          <form class="header-search" action="#">
            <div class="input-group">
              <input type="search" id="form1" class="form-control" placeholder="Hãy nhập từ khóa" />
              <button type="button" class="btn btn-primary btn-search-submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
        </div>
        <div class="col col-3">
          <a class="cancel-search">Hủy bỏ</a>
        </div>
      </div>
    </div>
  </header>

  <main class="main-content">
    <div class="container">
      <div class="section-block-content search-history">
        <div class="block-heading">
          <div class="row">
            <div class="col col-9">
              <h3 class="block-heading-title">Lịch sử tìm kiếm</h3>
            </div>
            <div class="col col-3 text-center">
              <button class="btn-delete-search-history">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div><!-- end block heading -->
        <div class="block-content">
          <div class="button-list">
            <a href="index-trx.html" class="btn-single-coin btn-search-history">TRX</a>
              <a href="index-trx.html" class="btn-single-coin btn-search-history">AVA</a>
          </div>
        </div><!-- end block content -->
      </div>
      <div class="section-block-content search-trend">
        <div class="block-heading">
          <h3 class="block-heading-title">Xu hướng</h3>
        </div><!-- end block heading -->
        <div class="block-content">
          <div class="button-list">
            <button class="btn-search-history">BTC</button>
            <button class="btn-search-history">ETH</button>
            <button class="btn-search-history">USDT</button>
            <button class="btn-search-history">BNB</button>
            <button class="btn-search-history">EOS</button>
          </div>
        </div><!-- end block content -->
      </div>
      <div class="section-block-content list-coins">
        <div class="block-heading">
          <h3 class="block-heading-title">Danh sách Coin</h3>
        </div><!-- end block heading -->
        <div class="block-content">
          <div class="coin-list">
            <ul>
              <li>
                <a href="#" title="">
                  <img src="../../../assets/images/1inch-coin-images.png" alt="1INCH logo">
                  <label>1INCH<small>1inch</small></label>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../../../assets/images/axs-coin-logo.png" alt="">
                  <label>AXS <small>Axie Infinity</small></label>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../../../assets/images/avalanche-avax-logo.png" alt="">
                  <label >AVAX <small>Axie Infinity</small></label>
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../../../assets/images/choose-investment-packages-label-inactive-bg.png" alt="">
                  <label >TRX <small>Trx Infinity</small></label>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- end block content -->
      </div>
    </div>
  </main>
